In [3]:
# Dependencies and setup
import pandas as pd 
import numpy as np
import datetime

# Reading files and store into Pandas data frame

file_one_df = pd.read_excel("Pinturas_Condor.xlsx")
file_two_df = pd.read_excel("Pinturas_Ecuatorianas.xlsx")
file_three_df= pd.read_excel("Pinturas_Unidas.xlsx")
covid_data_df=pd.read_csv("covid-data.csv")

# Combining the data into a single dataset

file_one_df['Company'] = 'Condor'
file_two_df['Company'] = 'Ecuatorianas'
file_three_df['Company'] = 'Unidas'

# Merging data 

df=pd.concat([file_one_df, file_two_df], axis=0)
df=pd.concat([df, file_three_df], axis=0)

In [4]:
df

,HTS Code,HTS Code Description,Custom District,Custom Reg Nr 1,Custom Reg Nr 2,Custom Reg Nr 3,Date,Tax Id,Importer,Exporter,...,Nr. Packs,New - Used,Container Number,Custom Agent,Commercial Description,Brand,Model,Bank,Advalorem,Company
0,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00252890,0,144,2020-04-20,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND.COM. LTDA,...,13520,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
1,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00252890,0,145,2020-04-20,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND.COM. LTDA,...,13520,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO ALTO SOLID SIN MARCA 807980...,SIN MARCA,807980412 054, ,0.0,Condor
2,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00440431,0,118,2020-07-07,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,11450,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO ALTO SOLID SIN MARCA 807980...,SIN MARCA,807980412 054, ,0.0,Condor
3,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00440431,0,117,2020-07-07,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,11450,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
4,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00728681,0,27,2020-10-19,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,2220,NUEVA,1,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00270158,0,2,2020-04-28,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX Z PLEX SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
681,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00494534,0,1,2020-07-28,990000689001,PINTURAS UNIDAS S.A.,PRODUCCIONES QUIMICAS S.A.,...,20,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,ESTEARATO DE ZINC SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
682,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00066992,0,1,2020-01-27,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX FLASH X 150 SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
683,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00066992,0,2,2020-01-27,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX Z PLEX 111 SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
684,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00913635,0,1,2020-12-17,990000689001,PINTURAS UNIDAS S.A.,PRODUCCIONES QUIMICAS S.A.,...,20,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,ESTEARATO DE ZINC SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas

In [5]:
df['Date']=pd.to_datetime(df['Date'])
df['Week']=df['Date'].dt.week
df.groupby('Week')['Qty'].sum()
df.groupby('Week')['U$ CFR Tot'].sum()

<ipython-input-5-8fdc6b6694c4>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['Week']=df['Date'].dt.week

Week
1      278603.79
2      828032.09
3     1790706.01
4     1232525.32
5      680801.81
6     1084362.23
7      940039.59
8      662626.64
9     1063623.29
10     606629.07
11     762201.09
12      93297.74
13     420176.54
14     260001.54
15     743669.02
16     510526.46
17     649186.84
18     866686.49
19     351963.75
20    1032492.22
21     904051.98
22     290316.57
23     316817.80
24     183464.46
25     260033.77
26     144223.20
27      40864.14
28     636505.65
29     359062.88
30     126194.89
31     516184.01
32     569779.96
33     281248.20
34     340252.85
35     491506.80
36     620301.21
37     778747.93
38    1268366.78
39     510433.64
40    1022173.97
41     945604.34
42     965132.53
43    1510868.71
44     630831.66
45     922643.70
46    1867898.03
47     639215.90
48     997428.81
49     812118.63
50     934963.78
51    1521771.57
52     807929.11
53     714922.21
Name: U$ CFR Tot, dtype: float64

In [6]:
sums=df.groupby('Week',as_index=False)[['U$ CFR Tot','Qty']].sum()

In [7]:
sums

    Week  U$ CFR Tot         Qty
0      1   278603.79   214535.03
1      2   828032.09   577859.31
2      3  1790706.01  1221904.03
3      4  1232525.32  1142984.30
4      5   680801.81   604874.89
5      6  1084362.23   630612.93
6      7   940039.59   539875.66
7      8   662626.64   537196.45
8      9  1063623.29   542044.13
9     10   606629.07   444577.04
10    11   762201.09   491218.53
11    12    93297.74    42024.33
12    13   420176.54   219123.54
13    14   260001.54   234778.31
14    15   743669.02   332151.21
15    16   510526.46   382863.12
16    17   649186.84   265601.31
17    18   866686.49   650932.25
18    19   351963.75   146313.76
19    20  1032492.22   737809.72
20    21   904051.98   453211.36
21    22   290316.57    20295.17
22    23   316817.80   193689.38
23    24   183464.46    43381.90
24    25   260033.77    87359.94
25    26   144223.20    30420.35
26    27    40864.14    53636.56
27    28   636505.65   436600.42
28    29   359062.88   338099.73
29    30   126194.89   139263.00
30    31   516184.01   232713.63
31    32   569779.96   568595.14
32    33   281248.20   287643.37
33    34   340252.85   620439.77
34    35   491506.80   437313.05
35    36   620301.21   746815.57
36    37   778747.93   843668.40
37    38  1268366.78   850613.06
38    39   510433.64   463927.88
39    40  1022173.97   724102.59
40    41   945604.34   643112.30
41    42   965132.53   751354.76
42    43  1510868.71  1202051.26
43    44   630831.66   523541.00
44    45   922643.70   916685.64
45    46  1867898.03  1071889.40
46    47   639215.90   617599.47
47    48   997428.81   630882.17
48    49   812118.63   751478.72
49    50   934963.78   912068.41
50    51  1521771.57   913963.03
51    52   807929.11   954342.72
52    53   714922.21   550612.58

In [8]:
covid_data_df[covid_data_df['location']=='Ecuador']
ecu_data_df = covid_data_df[covid_data_df['location']=='Ecuador']
ecu_data_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
17725,ECU,South America,Ecuador,3/1/2020,6.0,6.0,NaN,NaN,NaN,NaN,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
17726,ECU,South America,Ecuador,3/2/2020,6.0,0.0,NaN,NaN,NaN,NaN,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
17727,ECU,South America,Ecuador,3/3/2020,7.0,1.0,NaN,NaN,NaN,NaN,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
17728,ECU,South America,Ecuador,3/4/2020,10.0,3.0,NaN,NaN,NaN,NaN,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
17729,ECU,South America,Ecuador,3/5/2020,13.0,3.0,NaN,NaN,NaN,NaN,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18062,ECU,South America,Ecuador,2/1/2021,250986.0,158.0,1345.571,14890.0,31.0,35.857,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
18063,ECU,South America,Ecuador,2/2/2021,251279.0,293.0,1304.714,14915.0,25.0,35.286,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
18064,ECU,South America,Ecuador,2/3/2021,252390.0,1111.0,1265.000,14949.0,34.0,35.000,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
18065,ECU,South America,Ecuador,2/4/2021,253339.0,949.0,1048.429,14968.0,19.0,28.857,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752
18066,ECU,South America,Ecuador,2/5/2021,255412.0,2073.0,1246.429,14982.0,14.0,25.714,...,10581.936,3.6,140.448,5.55,2.0,12.3,80.635,1.5,77.01,0.752

In [9]:
covid_data_df['date']=pd.to_datetime(covid_data_df['date'])

In [10]:
covid_data_df['date'].max()

Timestamp('2021-02-05 00:00:00')

In [11]:
covid_data_df[covid_data_df['date']<=pd.Timestamp(2020,12,31)]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66926,ZWE,Africa,Zimbabwe,2020-12-27,13077.0,114.0,107.429,349.0,8.0,4.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66927,ZWE,Africa,Zimbabwe,2020-12-28,13148.0,71.0,103.714,354.0,5.0,4.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66928,ZWE,Africa,Zimbabwe,2020-12-29,13325.0,177.0,111.571,359.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66929,ZWE,Africa,Zimbabwe,2020-12-30,13625.0,300.0,138.429,360.0,1.0,4.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
66930,ZWE,Africa,Zimbabwe,2020-12-31,13867.0,242.0,154.429,363.0,3.0,3.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [12]:
covid_data_df['date'].dt.isocalendar()
weeks = covid_data_df['date'].dt.isocalendar()
weeks.head()

   year  week  day
0  2020     9    1
1  2020     9    2
2  2020     9    3
3  2020     9    4
4  2020     9    5

In [13]:
covid_data_df['total_cases'].sum

<bound method Series.sum of 0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
          ...
66962    33548.0
66963    33814.0
66964    33964.0
66965    34171.0
66966    34331.0
Name: total_cases, Length: 66967, dtype: float64>

In [15]:
#covid_data_df['Week']=covid_data_df['Date'].dt.week

In [ ]:
#covid_data_df[['Week','Weekly case growth (%)' ]].merge(sums)

In [ ]:
#covid_data_df.loc[covid_data_df['Entity']=='Ecuador'].tail(100)