In [14]:
# Dependencies and setup
import pandas as pd 
import numpy as np


 

# Reading files and store into Pandas data frame

file_one_df = pd.read_excel("Pinturas_Condor.xlsx")
file_two_df = pd.read_excel("Pinturas_Ecuatorianas.xlsx")
file_three_df= pd.read_excel("Pinturas_Unidas.xlsx")

weekly_report_df=pd.read_csv("weekly_report_covid.csv")

# Combining the data into a single dataset

# comb_data_df = pd.merge(file_one_df, file_two_df, how = 'inner', on = 'HTS', suffixes=("Condor", "Ecua"))
# pd.merge(comb_data_df, file_three_df, how = 'inner', on = 'HTS')
# comb_data_df = pd.merge(comb_data_df, file_three_df, how = 'inner', on = 'HTS')

# Display the data table for preview
#comb_data_df.head()


file_one_df['Company'] = 'Condor'
file_two_df['Company'] = 'Ecuatorianas'
file_three_df['Company'] = 'Unidas'

df=pd.concat([file_one_df, file_two_df], axis=0)
df=pd.concat([df, file_three_df], axis=0)

In [15]:
df

,HTS Code,HTS Code Description,Custom District,Custom Reg Nr 1,Custom Reg Nr 2,Custom Reg Nr 3,Date,Tax Id,Importer,Exporter,...,Nr. Packs,New - Used,Container Number,Custom Agent,Commercial Description,Brand,Model,Bank,Advalorem,Company
0,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00252890,0,144,2020-04-20,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND.COM. LTDA,...,13520,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
1,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00252890,0,145,2020-04-20,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND.COM. LTDA,...,13520,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO ALTO SOLID SIN MARCA 807980...,SIN MARCA,807980412 054, ,0.0,Condor
2,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00440431,0,118,2020-07-07,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,11450,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO ALTO SOLID SIN MARCA 807980...,SIN MARCA,807980412 054, ,0.0,Condor
3,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00440431,0,117,2020-07-07,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,11450,NUEVA,3,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
4,8310000000,"PLATES INDICATOR, NAMEPLATES, ADDRESS PLATES A...",GQUIL - MARITIMO,028-2020-10-00728681,0,27,2020-10-19,1790013561001,PINTURAS CONDOR SA,SHERWIN WILLIAMS DO BRASIL IND COM LTDA DIV AU...,...,2220,NUEVA,1,ALAIRE CIA. LTDA.,ESCALA EM ALUMINIO TRADICIONA SIN MARCA 807980...,SIN MARCA,807980376 054, ,0.0,Condor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00270158,0,2,2020-04-28,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX Z PLEX SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
681,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00494534,0,1,2020-07-28,990000689001,PINTURAS UNIDAS S.A.,PRODUCCIONES QUIMICAS S.A.,...,20,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,ESTEARATO DE ZINC SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
682,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00066992,0,1,2020-01-27,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX FLASH X 150 SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
683,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00066992,0,2,2020-01-27,990000689001,PINTURAS UNIDAS S.A.,LORAMA GROUP INTERNATIONAL INC,...,404,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,HALOX Z PLEX 111 SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas
684,3824999999,OTHER BINDING PREPARATIONS FOR MOLDS OR FOUNDI...,GQUIL - MARITIMO,028-2020-10-00913635,0,1,2020-12-17,990000689001,PINTURAS UNIDAS S.A.,PRODUCCIONES QUIMICAS S.A.,...,20,NUEVA,1,PRIETO VEGA LAURA MACLOVIA,ESTEARATO DE ZINC SIN MARCA SIN MODELO,SIN MARCA,SIN MODELO, ,0.0,Unidas

In [16]:
df['Date']=pd.to_datetime(df['Date'])
df['Week']=df['Date'].dt.week
df.groupby('Week')['Qty'].sum()
df.groupby('Week')['U$ CFR Tot'].sum()

<ipython-input-16-8fdc6b6694c4>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['Week']=df['Date'].dt.week

Week
1      278603.79
2      828032.09
3     1790706.01
4     1232525.32
5      680801.81
6     1084362.23
7      940039.59
8      662626.64
9     1063623.29
10     606629.07
11     762201.09
12      93297.74
13     420176.54
14     260001.54
15     743669.02
16     510526.46
17     649186.84
18     866686.49
19     351963.75
20    1032492.22
21     904051.98
22     290316.57
23     316817.80
24     183464.46
25     260033.77
26     144223.20
27      40864.14
28     636505.65
29     359062.88
30     126194.89
31     516184.01
32     569779.96
33     281248.20
34     340252.85
35     491506.80
36     620301.21
37     778747.93
38    1268366.78
39     510433.64
40    1022173.97
41     945604.34
42     965132.53
43    1510868.71
44     630831.66
45     922643.70
46    1867898.03
47     639215.90
48     997428.81
49     812118.63
50     934963.78
51    1521771.57
52     807929.11
53     714922.21
Name: U$ CFR Tot, dtype: float64

In [17]:
sums=df.groupby('Week',as_index=False)[['U$ CFR Tot','Qty']].sum()

In [18]:
sums

    Week  U$ CFR Tot         Qty
0      1   278603.79   214535.03
1      2   828032.09   577859.31
2      3  1790706.01  1221904.03
3      4  1232525.32  1142984.30
4      5   680801.81   604874.89
5      6  1084362.23   630612.93
6      7   940039.59   539875.66
7      8   662626.64   537196.45
8      9  1063623.29   542044.13
9     10   606629.07   444577.04
10    11   762201.09   491218.53
11    12    93297.74    42024.33
12    13   420176.54   219123.54
13    14   260001.54   234778.31
14    15   743669.02   332151.21
15    16   510526.46   382863.12
16    17   649186.84   265601.31
17    18   866686.49   650932.25
18    19   351963.75   146313.76
19    20  1032492.22   737809.72
20    21   904051.98   453211.36
21    22   290316.57    20295.17
22    23   316817.80   193689.38
23    24   183464.46    43381.90
24    25   260033.77    87359.94
25    26   144223.20    30420.35
26    27    40864.14    53636.56
27    28   636505.65   436600.42
28    29   359062.88   338099.73
29    30   126194.89   139263.00
30    31   516184.01   232713.63
31    32   569779.96   568595.14
32    33   281248.20   287643.37
33    34   340252.85   620439.77
34    35   491506.80   437313.05
35    36   620301.21   746815.57
36    37   778747.93   843668.40
37    38  1268366.78   850613.06
38    39   510433.64   463927.88
39    40  1022173.97   724102.59
40    41   945604.34   643112.30
41    42   965132.53   751354.76
42    43  1510868.71  1202051.26
43    44   630831.66   523541.00
44    45   922643.70   916685.64
45    46  1867898.03  1071889.40
46    47   639215.90   617599.47
47    48   997428.81   630882.17
48    49   812118.63   751478.72
49    50   934963.78   912068.41
50    51  1521771.57   913963.03
51    52   807929.11   954342.72
52    53   714922.21   550612.58

In [25]:
covid_df = weekly_report_df[weekly_report_df['Entity']=='Ecuador']
covid_df

,Entity,Code,Year,Continent,"GDP per capita, PPP (constant 2011 international $)",Date,Weekly case growth (%)
18096,Ecuador,ECU,1990.0,NaN,7472.025128,NaN,NaN
18097,Ecuador,ECU,1991.0,NaN,7611.733255,NaN,NaN
18098,Ecuador,ECU,1992.0,NaN,7595.025335,NaN,NaN
18099,Ecuador,ECU,1993.0,NaN,7571.244874,NaN,NaN
18100,Ecuador,ECU,1994.0,NaN,7720.724316,NaN,NaN
...,...,...,...,...,...,...,...
18449,Ecuador,ECU,NaN,NaN,NaN,2/1/2021,-5.079109
18450,Ecuador,ECU,NaN,NaN,NaN,2/2/2021,-4.646064
18451,Ecuador,ECU,NaN,NaN,NaN,2/3/2021,-3.958785
18452,Ecuador,ECU,NaN,NaN,NaN,2/4/2021,-25.196208
18453,Ecuador,ECU,NaN,NaN,NaN,2/5/2021,-8.437402

In [26]:
covid_df['Date']=pd.to_datetime(covid_df['Date'])

<ipython-input-26-c086416ecf19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['Date']=pd.to_datetime(covid_df['Date'])

In [31]:
covid_df['Date'].max()

Timestamp('2020-12-31 00:00:00')

In [32]:
covid_df=covid_df[covid_df['Date']<=pd.Timestamp(2020,12,31)]

In [33]:
covid_df['Week']=covid_df['Date'].dt.week

<ipython-input-33-8fdeeb1fd515>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  covid_df['Week']=covid_df['Date'].dt.week

In [36]:
covid_df[['Week','Weekly case growth (%)' ]].merge(sums)

     Week  Weekly case growth (%)  U$ CFR Tot        Qty
0      11              -69.230769   762201.09  491218.53
1      11               15.384615   762201.09  491218.53
2      11               75.000000   762201.09  491218.53
3      12              144.444444    93297.74   42024.33
4      12              437.500000    93297.74   42024.33
..    ...                     ...         ...        ...
289    52              -25.295394   807929.11  954342.72
290    53              -17.353579   714922.21  550612.58
291    53               -1.147705   714922.21  550612.58
292    53               22.219155   714922.21  550612.58
293    53               19.702207   714922.21  550612.58

[294 rows x 4 columns]

In [40]:
weekly_report_df.loc[weekly_report_df['Entity']=='Ecuador'].tail(100)

,Entity,Code,Year,Continent,"GDP per capita, PPP (constant 2011 international $)",Date,Weekly case growth (%)
18354,Ecuador,ECU,NaN,NaN,NaN,10/29/2020,61.730422
18355,Ecuador,ECU,NaN,NaN,NaN,10/30/2020,34.276206
18356,Ecuador,ECU,NaN,NaN,NaN,10/31/2020,19.271413
18357,Ecuador,ECU,NaN,NaN,NaN,11/1/2020,-9.429667
18358,Ecuador,ECU,NaN,NaN,NaN,11/2/2020,-15.659623
...,...,...,...,...,...,...,...
18449,Ecuador,ECU,NaN,NaN,NaN,2/1/2021,-5.079109
18450,Ecuador,ECU,NaN,NaN,NaN,2/2/2021,-4.646064
18451,Ecuador,ECU,NaN,NaN,NaN,2/3/2021,-3.958785
18452,Ecuador,ECU,NaN,NaN,NaN,2/4/2021,-25.196208
18453,Ecuador,ECU,NaN,NaN,NaN,2/5/2021,-8.437402